.aboutContainer {
    width: 280px;
    margin: 50px auto 100px;
}

.wp-block-image {
    padding: 0px;
    margin: 0px;
}

.aboutContainer img {
    height: 210px;
    width: 280px;
}

.aboutContainer p {
    text-align: justify;
}

.aboutContainer figcaption {
    text-align: center;
}

@media all and (min-width: 500px) {
    .aboutContainer {
        width: 350px;
        margin: 100px auto 150px;
    }
    .aboutContainer img {
        height: 260px;
        width: 350px;
    }
}

@media all and (min-width: 600px) {
    .aboutContainer {
        width: 450px;
    }
    .wp-block-image {
        margin: 40px 0px;
    }
    .aboutContainer img {
        height: 330px;
        width: 450px;
    }
    .aboutContainer p {
        font-size: 1.1em;
    }
}

@media all and (min-width: 700px) {
    .aboutContainer {
        width: 550px;
        margin: 150px auto;
    }
    .aboutContainer h1 {
        font-size: 2.5em;
    }
    .aboutContainer img {
        height: 400px;
        width: 550px;
    }
    .aboutContainer p {
        font-size: 1.2em;
    }
}

@media all and (min-width: 800px) {
    .aboutContainer {
        width: 650px;
    }
    .wp-block-image {
        margin: 60px 0px;
    }
    .aboutContainer img {
        height: 470px;
        width: 650px;
    }
}